In [1]:
# Q1. What is data encoding? How is it useful in data science?

In [2]:
# Data encoding is the process of converting data from one form to another, usually for the purpose of transmission, storage, or analysis. 
# It is useful in data science because it allows us to represent categorical data in a way that machine learning algorithms can understand

In [3]:
#Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario

In [4]:
#Nominal encoding is a type of data encoding that is used for categorical data with no inherent order.
# For example, the city of residence of a person is a nominal variable, as there is no inherent order to the different cities.

In [5]:
#Here is an example of how we can use nominal encoding in a real-world scenario:

#We  have a dataset of customer purchases.
#We want to use the customer's city of residence to make predictions about their future purchases.
#We use nominal encoding to represent the city of residence as a categorical variable.
#This allows the machine learning algorithm to understand that the city of residence is a categorical variable, and it can use that information to make predictions.

In [6]:
# Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

In [7]:
#Nominal encoding is preferred over one-hot encoding when the categorical data does not have an inherent order.

# For example, the color of a car is a nominal variable, as there is no inherent order to the different colors. 
# In this case, nominal encoding is sufficient to represent the data.

In [8]:
#Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding
#technique would you use to transform this data into a format suitable for machine learning algorithms?
#Explain why you made this choice.

In [9]:
#If I have a dataset containing categorical data with 5 unique values, I would use label encoding to transform this data into a format suitable for machine learning algorithms.
#Label encoding is a simple and effective way to encode categorical data. It works by assigning a unique integer value to each category.

#For example, if the categorical data is the color of a car, we could use the following labels:

#0: Red
#1: Blue
#2: Green
#3: Black
#4: White

#Label encoding is a good choice for categorical data with a small number of unique values. It is simple to implement and it does not add any additional complexity to the model.
#Additionally, label encoding does not assume any order between the categories, which is important for categorical data that does not have an inherent order.

In [10]:
#Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns
#are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to
#transform the categorical data, how many new columns would be created? Show your calculations.

In [11]:
#If we are using  nominal encoding to transform the categorical data in a dataset with 1000 rows and 5 columns, 2 of which are categorical, then 2 new columns would be created.

#This is because nominal encoding simply assigns a unique integer value to each category in a categorical variable. 
#So, if there are 2 categorical variables with 5 unique values each, then 2 * 5 = 10 new columns would be created.

In [12]:
import numpy as np

def nominal_encoding_calculation(num_categorical_variables, num_unique_values_per_variable):
  """Calculates the number of new columns created by nominal encoding.

  Args:
    num_categorical_variables: The number of categorical variables.
    num_unique_values_per_variable: The number of unique values per categorical variable.

  Returns:
    The number of new columns created.
  """

  return num_categorical_variables * num_unique_values_per_variable


if __name__ == "__main__":
  # Number of categorical variables
  num_categorical_variables = 2

  # Number of unique values per categorical variable
  num_unique_values_per_variable = 5

  # Calculate the number of new columns created
  num_new_columns = nominal_encoding_calculation(num_categorical_variables, num_unique_values_per_variable)

  print("The number of new columns created is:", num_new_columns)

The number of new columns created is: 10

In [18]:
import numpy as np

def nominal_encoding_calculation(num_categorical_variables, num_unique_values_per_variable):
  """Calculates the number of new columns created by nominal encoding.

  Args:
    num_categorical_variables: The number of categorical variables.
    num_unique_values_per_variable: The number of unique values per categorical variable.

  Returns:
    The number of new columns created.
  """

  return num_categorical_variables * num_unique_values_per_variable


if __name__ == "__main__":
  # Number of categorical variables
  num_categorical_variables = 5

  # Number of unique values per categorical variable
  num_unique_values_per_variable = 7

  # Calculate the number of new columns created
  num_new_columns = nominal_encoding_calculation(num_categorical_variables, num_unique_values_per_variable)

  print("The number of new columns created is:", num_new_columns)

The number of new columns created is: 35

In [19]:
#Q6. You are working with a dataset containing information about different types of animals, including their
#species, habitat, and diet. Which encoding technique would you use to transform the categorical data into
#a format suitable for machine learning algorithms? Justify your answer.

In [20]:
#If I am working with a dataset containing information about different types of animals, including their species, habitat, and diet,
#I would use label encoding to transform the categorical data into a format suitable for machine learning algorithms.

#Label encoding is a simple and effective way to encode categorical data. It works by assigning a unique integer value to each category.
#In the case of the dataset containing information about different types of animals, the species, habitat, and diet are all categorical variables with a small number of unique values. 
#Therefore, label encoding is a good choice for encoding this data.

In [22]:
#Q7.You are working on a project that involves predicting customer churn for a telecommunications
#company. You have a dataset with 5 features, including the customer's gender, age, contract type,
#monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical
#data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

In [23]:
#Here are the encoding techniques I would use to transform the categorical data into numerical data for the customer churn prediction project:

#Label encoding: For the gender and contract type features, I would use label encoding. This would involve assigning a unique integer value to each category.
#For example, I could use 0 to represent male, 1 to represent female, and 2 to represent month-to-month contract.

#Ordinal encoding: For the tenure feature, I would use ordinal encoding. This would involve assigning a unique integer value to each category, but the order
#of the values would be meaningful. For example, I could use 1 to represent 0-12 months of tenure, 2 to represent 13-24 months of tenure, and so on.

#One-hot encoding: For the monthly charges feature, I would use one-hot encoding. This would involve creating a new binary column for each unique category in the feature.

#For example, if the monthly charges feature has the categories 100, 150, and 200, then one-hot encoding would create three new columns: monthly_charges_100, monthly_charges_150,
#and monthly_charges_200. #Each column would contain a 1 if the customer's monthly charges were in that category and a 0 if they were not.

In [27]:
import pandas as pd

# Sample data
data = {
    'gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
    'age': [25, 30, 22, 35, 28],
    'contract_type': ['Monthly', 'Yearly', 'Monthly', 'Monthly', 'Yearly'],
    'monthly_charges': [50.0, 65.0, 40.0, 75.0, 60.0],
    'tenure': [12, 24, 6, 18, 36]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Label Encoding for 'gender' and 'contract_type'
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df['gender_encoded'] = label_encoder.fit_transform(df['gender'])
df['contract_type_encoded'] = label_encoder.fit_transform(df['contract_type'])

print("\nDataFrame after Label Encoding:")
print(df)

# One-Hot Encoding for 'gender' and 'contract_type'
one_hot_encoded = pd.get_dummies(df, columns=['gender', 'contract_type'], prefix=['gender', 'contract_type'])

print("\nDataFrame after One-Hot Encoding:")
print(one_hot_encoded)

Original DataFrame:
   gender  age contract_type  monthly_charges  tenure
0    Male   25       Monthly             50.0      12
1  Female   30        Yearly             65.0      24
2    Male   22       Monthly             40.0       6
3  Female   35       Monthly             75.0      18
4    Male   28        Yearly             60.0      36

DataFrame after Label Encoding:
   gender  age contract_type  monthly_charges  tenure  gender_encoded  \
0    Male   25       Monthly             50.0      12               1
1  Female   30        Yearly             65.0      24               0
2    Male   22       Monthly             40.0       6               1
3  Female   35       Monthly             75.0      18               0
4    Male   28        Yearly             60.0      36               1

   contract_type_encoded
0                      0
1                      1
2                      0
3                      0
4                      1

DataFrame after One-Hot Encoding:
   age  monthly_charges  tenure  gender_encoded  contract_type_encoded  \
0   25             50.0      12               1                      0
1   30             65.0      24               0                      1
2   22             40.0       6               1                      0
3   35             75.0      18               0                      0
4   28             60.0      36               1                      1

   gender_Female  gender_Male  contract_type_Monthly  contract_type_Yearly
0              0            1                      1                     0
1              1            0                      0                     1
2              0            1                      1                     0
3              1            0                      1                     0
4              0            1                      0                     1